@font-face {
    font-family: "Burgers1";
    src: url(./assets/bobs_burgers-webfont.woff) format("woff"),
        url(./assets/bobs_burgers-webfont.woff2) format("woff2");
    font-style: normal;
}

:root {
    --background-red: #e82939;
    --background-yellow: #f6dd42;
}

.background {
    background-color: var(--background-red);
    margin: 0px;

    min-height: 100vh;

    display: flex;
    flex-direction: column;
}

header {
    padding: 0px 25vw;
    margin: 0px;
}

nav {
    padding: 0px 10px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;

    background-color: black;
}

button {
    border: 0px;
    min-height: clamp(50px, 10vh, 300px);
    background-color: var(--background-yellow);

    font-family: "Burgers1";
    font-size: 4rem;

    cursor: pointer;
}

.flexColumnCenter {
    display: flex;

    flex-direction: column;
    align-items: center;
}

.content {
    border: 10px solid black;
    margin: 0px 12px 12px 12px;
    background-color: var(--background-yellow);

    flex: 1;
}

h1 {
    font-family: "Burgers1";

    font-size: 5rem;
    font-weight: bolder;

    margin-left: auto;
    margin-right: auto;
}

.regularMenu {
    padding: 2em;
    margin: 2em;

    border: 10px solid #7a85a1;

    background-color: #ecebe7;

    min-width: clamp(150px, 50%, 1000px);
}

ul {
    list-style: none; 
    padding: 0px;
    margin: 0px;
}

.menuItem {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: clamp(50px, 40%, 800px);

    color: #234482;
    font-family: cabin, sans-serif;
    font-weight: bolder;
    font-size: 1.25rem;
}
/* TODO Chalkboard for menu */
;
