@font-face {
    font-family: "Burgers1";
    src: url(./assets/bobs_burgers-webfont.woff) format("woff"),
        url(./assets/bobs_burgers-webfont.woff2) format("woff2");
    font-style: normal;
}

@font-face {
    font-family: "CrayonCrumble";
    src: url(./assets/dkcrayoncrumble-ddll-webfont.woff) format("woff"),
        url(./assets/dkcrayoncrumble-ddll-webfont.woff2) format("woff2");
    font-style: normal;
}

:root {
    --background-red: #e82939;
    --background-yellow: #f6dd42;
}

.background {
    background-color: var(--background-red);
    margin: 0px;

    min-height: 100vh;

    display: flex;
    flex-direction: column;
}

header {
    padding: 0px clamp(50px, 16vw, 50%);
    margin: 0px;
}

nav {
    padding: 0px 10px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;

    background-color: black;
}

button {
    border: 0px;
    min-height: clamp(50px, 10vh, 300px);
    background-color: var(--background-yellow);

    font-family: "Burgers1";
    font-size: min(10vw, 4rem);

    cursor: pointer;
}

.flexColumnCenter {
    display: flex;

    flex-direction: column;
    align-items: center;
}

.content {
    border: 10px solid black;
    margin: 0px 12px 12px 12px;
    background-color: var(--background-yellow);

    flex: 1;
}

h1 {
    font-family: "Burgers1";

    font-size: 5rem;
    font-weight: bolder;

    margin-left: auto;
    margin-right: auto;
}

.quoteMessage, .quote {
    width: min(60ch, 80vw);
}

.regularMenu,
.chalkboard {
    padding: 2em;
    margin: 2em;

    min-width: clamp(150px, 50%, 1000px);
}

.regularMenu {
    border: 10px solid #7a85a1;

    background-color: #ecebe7;
    box-shadow: 6px 6px 8px 5px rgba(0, 0, 0, 0.5);
}

ul {
    list-style: none; 
    padding: 0px;
    margin: 0px;
}

.menuItem {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: clamp(50px, 40%, 800px);

    color: #234482;
    font-family: cabin, sans-serif;
    font-weight: bolder;
    font-size: 1.25rem;
}

.menuItem p {
    margin-top: clamp(0px, 1vh, 20px);
    margin-bottom: clamp(0px, 1vh, 20px);
}

.chalkboard {
    border: 10px solid #ad5953;
    box-shadow: 6px 6px 8px 5px rgba(0, 0, 0, 0.5);

    background-color: #2b2b2b;

    color: white;
    font-family: "CrayonCrumble";

    display: flex;
    flex-direction: column;

    align-items: center;
    text-align: center;
}

.specialTitle {
    margin: 0px 0px 0px 0px;
    font-size: clamp(26px, 7rem, 20vw);
    font-family: "Burgers1";
}

.specialSubTitle {
    margin: 0px 0px 5px 0px;
    font-size: clamp(20px, 3rem, 15vw);
    font-weight: bolder;
}

.special {
    text-align: center;

    font-size: 2rem;
    min-width: 14ch;
    max-width: 30ch;

    margin-top: 8vh;
    margin-bottom: 8px;
}

.specialAside {
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 1.5rem;
}

.specialCost {
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 4rem;
    font-weight: bolder;
}

/* Chalkboard center, chalk font, better spacing */
